<p>databinding works!</p>
<div>
    <label for=""></label>
</div>
<div>
    <input type="text" [(ngModel)]="username">
</div>
<p>{{username}}</p>
<!-- view to controller using event -->
<div>
    <label for=""></label>
</div>
<div>
    <input type="text" (keyup)="userData($event)" >
</div>
<!-- property-Binding -->   
<div>
    <label for=""></label>
</div>

<p (click)="disableBtn()" >click me!</p>
<div>
    <button [disabled]="isDisable"  >Clear</button>
</div>
<!-- Databinding Task-1 -->
<p>Task One</p>
<div>
    <label for="">Username</label>
</div>
<div>
    <input type="text" [(ngModel)]="userName">
</div>
<p>{{userName}}</p>
<div>
    <button  [disabled]="isEnable!" (click)= "enable()" >
        click
    </button>
</div>
<div *ngIf="currentCustomer">Hello</div>
<div>
    <ul>
        <li *ngFor="let fruit of fruits">{{fruit}}</li>
    </ul>
</div>